'scopeName': 'source.compass-slim'
'name': 'SLIM'
'fileTypes': ['slim']

'patterns': [
  {
    'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
    'name': 'constant.numeric.compass-slim'
  },
  {
    'match': '--.*'
    'name': 'comment.line.compass-slim'
  },
  {
    'match': '\\b(system)\\s(implementation)\\s+([\\w\\.]+)\\s*'
    'captures':
        '1':
            'name': 'keyword.control.compass-slim'
        '2':
            'name': 'keyword.control.compass-slim'
        '3':
            'name': 'entity.name.function.compass-slim'
    'name': 'meta.function.compass-slim'
  },
  {
    'match': '\\b(system)\\s+([\\w\\.]+)\\s*'
    'captures':
        '1':
            'name': 'keyword.control.compass-slim'
        '2':
            'name': 'entity.name.function.compass-slim'
    'name': 'meta.function.compass-slim'
  },
  {
    'match': '\\b(system)\\s+(\\w+)\\s*'
    'captures':
        '1':
            'name': 'keyword.control.compass-slim'
        '2':
            'name': 'entity.name.function.compass-slim'
    'name': 'meta.function.compass-slim'
  },
  {
    'match': '\\b(bus)\\s(implementation)\\s+([\\w\\.]+)\\s*'
    'captures':
        '1':
            'name': 'keyword.control.compass-slim'
        '2':
            'name': 'keyword.control.compass-slim'
        '3':
            'name': 'entity.name.function.compass-slim'
    'name': 'meta.function.compass-slim'
  },
  {
    'match': '\\b(bus)\\s+(\\w+)\\s*'
    'captures':
        '1':
            'name': 'keyword.control.compass-slim'
        '2':
            'name': 'entity.name.function.compass-slim'
    'name': 'meta.function.compass-slim'
  },
  {
    'match': '\\b(error model)\\s(implementation)\\s+([\\w\\.]+)\\s*'
    'captures':
        '1':
            'name': 'keyword.control.compass-slim'
        '2':
            'name': 'keyword.control.compass-slim'
        '3':
            'name': 'entity.name.function.compass-slim'
    'name': 'meta.function.compass-slim'
  },
  {
    'match': '\\b(error model)\\s+(\\w+)\\s*'
    'captures':
        '1':
            'name': 'keyword.control.compass-slim'
        '2':
            'name': 'entity.name.function.compass-slim'
    'name': 'meta.function.compass-slim'
  },
  {
    'match': '\\b(end)\\s+([\\w\\.]+)\\s*'
    'captures':
        '1':
            'name': 'keyword.control.compass-slim'
        '2':
            'name': 'entity.name.function.compass-slim'
    'name': 'meta.function.compass-slim'
  },
  {
    'match': '\\b(end)\\s+(\\w+)\\s*'
    'captures':
        '1':
            'name': 'keyword.control.compass-slim'
        '2':
            'name': 'entity.name.function.compass-slim'
    'name': 'meta.function.compass-slim'
  },
  {
    'match': '(features)'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '(properties)'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '(events)'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '(subcomponents)'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '(connections)'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '(modes)'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '(transitions)'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '(states)'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '\\b(\\w+)(:)'
    'captures':
        '1':
            'name': 'variable.other.compass-slim'
    'name': 'meta.parameter.compass-slim'
  },
  {
    'match': '\\b(in)\\b'
    'name': 'storage.modifier.compass-slim'
  },
  {
    'match': '\\b(out)\\b'
    'name': 'storage.modifier.compass-slim'
  },
  {
    'match': '\\b(data)\\b'
    'name': 'entity.name.type.compass-slim'
  },
  {
    'match': '\\b(event)\\b'
    'name': 'entity.name.type.compass-slim'
  },
  {
    'match': '\\b(port)\\b'
    'name': 'entity.name.type.compass-slim'
  },
  {
    'match': '\\b(flow)\\b'
    'name': 'entity.name.type.compass-slim'
  },
  {
    'match': '\\b(bool)\\b'
    'name': 'storage.type.compass-slim'
  },
  {
    'match': '\\b(clock)\\b'
    'name': 'storage.type.compass-slim'
  },
  {
    'match': '\\b(continuous)\\b'
    'name': 'storage.type.compass-slim'
  },
  {
    'match': '\\b(enum)\\b'
    'name': 'storage.type.compass-slim'
  },
  {
    'match': '\\b(int)\\b'
    'name': 'storage.type.compass-slim'
  },
  {
    'match': '\\b(real)\\b'
    'name': 'storage.type.compass-slim'
  },
  {
    'match': '\\"false\\"'
    'name': 'constant.language.compass-slim'
  },
  {
    'match': '\\"true\\"'
    'name': 'constant.language.compass-slim'
  },
  {
    'match': '\\b(false)\\b'
    'name': 'constant.language.compass-slim'
  },
  {
    'match': '\\b(true)\\b'
    'name': 'constant.language.compass-slim'
  },
  {
    'match': '\\b(when)\\b'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '\\b(while)\\b'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '\\b(then)\\b'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '\\b(and)\\b'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '\\b(or)\\b'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '\\b(not)\\b'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '\\b(case)\\b'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '\\b(otherwise)\\b'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '\\b(Default)\\b'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '\\b(Observable)\\b'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '(\\=\\>)'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '(\\-\\>)'
    'name': 'keyword.control.compass-slim'
  },
  {
    'match': '\\b(initial)\\b'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '\\b(activation)\\b'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '\\b(error)\\b'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '\\b(state)\\b'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '\\b(occurrence)\\b'
    'name': 'keyword.other.compass-slim'
  },
  {
    'match': '\\b(poisson)\\b'
    'name': 'keyword.other.compass-slim'
  },   
  {
    'match': '\\b(end)\\b'
    'name': 'keyword.control.compass-slim'
  }
]
